.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}



.topnav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


ul {
  list-style-type: none;
  margin: 20px 0px;
  padding: auto;
}

li {
  float: left;
  margin: 10px 20px;
  padding: 10px 50px;

}

/* screens less than 600px wide ...make links vertical stack*/
@media screen and (max-width: 400px) {
  .topnav a{
      float: none; 
      width: 100%;
  }
}
