extends layout

block content
  h1= title
  p Ay caramba Welcome to #{title}
    body
    table
      thead
        tr
          th Datetime
          th Temperature
          th Humidity
          th Pressure
          th Clouds
          th Wind speed
          th Wind degree
          th Weather
          th Description
      tbody