extends layout

block content
  h1= title

  nav-item.dropdown(style='cursor:pointer')
    a#navbarDropdown3.nav-link.dropdown-toggle(data-hover='dropdown' aria-haspopup='true' aria-expanded='false' href='services.html') What do you need? 
    .dropdown-menu(aria-labelledby='navbarDropdown3')
      a.dropdown-item(href='/trefleAPI') Go to all the plants!
      a.dropdown-item(href='/trefleCoconut') What about the coconuts?
 