extends layout

block content
  h1= title

  nav-item.dropdown
    button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      | Dropdown button
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
      a.dropdown-item(href='/trefleAPI') Go to all the plants!
      a.dropdown-item(href='/trefleCoconut') What about the coconuts?
      a.dropdown-item(href='/weatherAPI') Is today a good day to garden in Portland?
