extends layout

block content

  .card.text-center
    .card-header
      ul.nav.nav-tabs.card-header-tabs
        li.nav-item
          a.nav-link(href='/trefleAPI') Go to all the plants!
        li.nav-item
          a.nav-link(href='trefleCoconut') What about the coconuts?
        li.nav-item
          a.nav-link(href='/weatherAPI') Is it a good day to garden in Portland?
    .card-body
      h1.card-title= title
      p.card-text An urban farming resource with plant, weather data, and more!  
      a.btn.btn-primary(href='/buildGarden') What grows well in Portland, Oregon? 
