extends layout

block content
 
    section.container.border.rounded.bg-light.w-50.mx-auto.mt-5.p-3
        center
            h1= title
            p Behold, the full list of #{title}
                table.table-responsive
                    table.table-striped
                        thead
                            tr 
                                th Common Name 
                                th Scientific Name 
                                th Image 
                        tbody
                            each element in plants.data
                                tr 
                                    td #{element.common_name}
                                    td #{element.scientific_name}
                                    td(scope="row")
                                        img(src= element.image_url width='100')